<div class="container"  id="habilidades">
    <div class="habilidades">
        <h1>Habilidadessss <span>.</span> </h1>
    </div>
    
    <div class="cards">
        <div class="card">
            <p>HTML5</p>
            <img src="assets/imagens/angular.svg" alt="">
        </div>

        <div class="card">
            <p>CSS3</p>
            <img src="assets/imagens/css.png" alt="">
        </div>

        <div class="card">
            <p>JavaScript</p>
            <img src="assets/imagens/javascript.svg" alt="">
        </div>

        <div class="card">
            <p>TypeScript</p>
            <img src="assets/imagens/typescript.svg" alt="">
        </div>

        <div class="card">
            <p>Angular</p>
            <img src="assets/imagens/angular.svg" alt="">
        </div>

        <div class="card">
            <p>Python</p>
            <img src="assets/imagens/python.svg" alt="">
        </div>

        <div class="card">
            <p>FastAPI</p>
            <img src="assets/imagens/fastapi.svg" alt="">
        </div>

        <div class="card">
            <p>MySQL</p>
            <img src="assets/imagens/mysql.png" alt="">
        </div>

        <div class="card">
            <p>MongoDB</p>
            <img src="assets/imagens/mongo.png" alt="">
        </div>
    </div>
</div>
