<div class="container">

    <div class="menu">

        
        <div class="titulo">
            <h1>EDUGCRAVO <img src="../../../../assets/imagens/prog.png" alt=""> </h1>
        </div>


        <div class="topico">
          <div class="topicos">
            <a href="javascript:void(0)" (click)="scrollToSection('sobre')">Sobre Mim</a>
            <a href="javascript:void(0)" (click)="scrollToSection('habilidades')">Habilidades</a>
            <a href="javascript:void(0)" (click)="scrollToSection('projetos')">Projetos</a>
            <a href="javascript:void(0)" (click)="scrollToSection('contato')" (click)="openDialog()">Contato</a>
          </div>
        </div>

    </div>

</div>
