<div class="close" mat-dialog-close="">
    <mat-icon>close</mat-icon>
</div>

<div class="container">
    <div class="email">
        <div class="bloco_img">
            <img src="../../../assets/imagens/contato/email.svg" alt="">
        </div>
        <div class="bloco">
            <h1>E-mail</h1>
            <p>edugcravo@hotmail.com</p>
        </div>
    </div>

    <div class="telefone">
        <div class="bloco_img">
            <img src="../../../assets/imagens/contato/telefone.svg" alt="">
        </div>
        <div class="bloco">
            <h1>Telefone</h1>
            <p>(41) 9 9221-3199</p>
        </div>
    </div>

    <div class="linkedin">
        <div class="bloco_img">
            <img src="../../../assets/imagens/contato/linkedin.svg" alt="">
        </div>
        <div class="bloco">
            <h1>Linkedin</h1>
            <a href="https://www.linkedin.com/in/eduardo-cravo-2789a7232/" target="_blank">@Eduardo Cravo</a>
        </div>
    </div>

    <div class="github">
        <div class="bloco_img">
            <img src="../../../assets/imagens/contato/git.svg" alt="">
        </div>
        <div class="bloco">
            <h1>GitHub</h1>
            <a href="https://github.com/edugcravo" target="_blank">@edugcravo</a>            
        </div>
    </div>
</div>