<app-menu-superior> </app-menu-superior>
<div class="container" id="sobre">

    <div class="apresentacao-sup">

        <div class="nome">
            <h1  > Olá, eu sou o <br>
            <span>Eduardo Cravo :/</span> </h1>
            <p class="typewriter-text"> Desenvolvedor Front-End </p>
            <div class="botoes">
                <a href="assets/imagens/curriculo/Curriculo EDUARDO CRAVO.pdf" download class="download">Download CV</a>

            
                <a href="assets/imagens/curriculo/Curriculo EDUARDO CRAVO.pdf" download class="contato" (click)="openDialog()">Entrar em contato</a>
            </div>

       </div>

       
        <div class="imagem">
            <img src="assets/imagens/image-progamming.svg" alt="">
        </div>

    </div>

    <div class="apresentacao-inf">
        <div> 
            <img src="assets/imagens/sobre_fundo.svg" alt="">
        </div>
        <div class="conteudo-sobre">
            <h1>Sobre mim <span>.</span> </h1>
            <p>Desenvolvedor Front-end com 2 anos de experiência em Angular, JavaScript, TypeScript, Python e consumo de APIs REST. Ao longo destes 2 anos, trabalhei em diversos projetos, implementando soluções inovadoras que resultaram em melhorias significativas no desempenho e na experiência do usuário. Tenho uma paixão especial pelo desenvolvimento de componentes reutilizáveis, visando sempre a modularidade e a escalabilidade dos projetos. Sou formado em Análise e Desenvolvimento de Sistemas e estou sempre em busca de atualizações nas mais recentes tendências e tecnologias do setor.</p>
        </div>
    </div>

</div>

<app-habilidades> </app-habilidades>